@model Tools.Models.LocationsViewModel

@{
	ViewData["Title"] = "View";

	var apiKey = @Model.ApiKey;
}

<div class="text-center pb-4">
	<h1 class="display-4">View</h1>
</div>

<div class="row">
	<div class="col-xl-9 col-lg-9">
		<div class="card mb-3">
			<div class="card-body">
				<div class="d-flex fw-bold small mb-3">
					<span class="flex-grow-1">MAP</span>
				</div>

				<div class="row align-items-center mb-2">
					<div class="col-12">
						<div class="row align-items-center mb-2">
							<div style="height: 500px" class="col-xl-12" id="map"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="card-arrow">
				<div class="card-arrow-top-left"></div>
				<div class="card-arrow-top-right"></div>
				<div class="card-arrow-bottom-left"></div>
				<div class="card-arrow-bottom-right"></div>
			</div>
		</div>
	</div>

	<div class="col-xl-3 col-lg-3">
		<div class="card mb-3">
			<div class="card-body">
				<div class="d-flex fw-bold small mb-3">
					<span class="flex-grow-1">LOCATIONS</span>
				</div>

				<div class="row align-items-center mb-2">
					<div class="card-body">
						@foreach (var location in Model.Locations)
						{
							<p>
								<span class="flex-grow-1">ID: @location.ID | Name: @location.Name</span>
							</p>
						}
					</div>
				</div>
			</div>

			<div class="card-arrow">
				<div class="card-arrow-top-left"></div>
				<div class="card-arrow-top-right"></div>
				<div class="card-arrow-bottom-left"></div>
				<div class="card-arrow-bottom-right"></div>
			</div>
		</div>
	</div>
	
	<div class="col-xl-3 col-lg-3">
		<div class="card mb-3">
			<div class="card-body">
				<div class="d-flex fw-bold small mb-3">
					<span class="flex-grow-1">DATA ENTRY</span>
				</div>

				<div class="row align-items-center mb-2">
					<div class="card-body">
						<form asp-controller="Locations" asp-action="Create" method="post">
							<table class="w-100 small mb-0 text-inverse text-opacity-60">
								<tr>
									<td><label for="Name">Name:</label></td>
									<td><input id="Name" name="Name" type="text" required /></td>
								</tr>

								<tr>
									<td><label for="Latitude">Latitude:</label></td>
									<td><input id="Latitude" name="Latitude" type="number" step="any" required /></td>
								</tr>

								<tr>
									<td><label for="Longitude">Longitude:</label></td>
									<td><input id="Longitude" name="Longitude" type="number" step="any" required /></td>
								</tr>
								<tr>
									<td><p></p></td>
								</tr>
								<tr>
									<td></td>
									<td class=""><button type="submit">Add location</button></td>
								</tr>
							</table>
						</form>
					</div>
				</div>
			</div>

			<div class="card-arrow">
				<div class="card-arrow-top-left"></div>
				<div class="card-arrow-top-right"></div>
				<div class="card-arrow-bottom-left"></div>
				<div class="card-arrow-bottom-right"></div>
			</div>
		</div>
	</div>
</div>

<!-- Google Maps JavaScript API -->
<script src="https://maps.googleapis.com/maps/api/js?key=@apiKey&callback=initMap" async defer></script>

<script>

    function initMap() {
        const map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: { lat: 50.8119188, lng: -0.5057848 }
        });

		@foreach (var location in Model.Locations)
		{
			<text>
				new google.maps.Marker({
					position: { lat: @location.Latitude, lng: @location.Longitude },
					map: map,
					title: '@location.Name',

					label: {
						color: '#000', fontSize: '12px', fontWeight: '600',
						text: '@location.ID'
					}
				});
			</text>
		}
    }
</script>